<nav id="navbar">
   <div class="nav-wrapper">
      {{#link-to "index" class="brand-logo right"}}
         d3-demos
      {{/link-to}}

      <ul class="left">
         <li>
            {{#link-to "charts"}}charts{{/link-to}}
         </li>
         <li>
            {{#link-to "maps"}}maps{{/link-to}}
         </li>
      </ul>

   </div>
</nav>
